<!DOCTYPE html>
<html>
<head>
    <title>Questo è il modo in cui la scheda verrà denominata nel browser</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1>I modi in cui la tecnologia non deve essere usata</h1>
    <h2>Oggi andremo a vedere come la tecnologia NON deve essere usata</h2>
    <p>Non spaventarti perchè ci sono taaanti modi in cui la tecnologia che ci circonda non deve essere usata, davvero molti</p>
    <h3>1: La dipendenza</h3>
             <ul>
                   <li>La dipenza da cellulare è molto comune</li>
                   <li>Non bisogna far sostituire la propria vita dai cellulari, quindi, quando c'è una giornata soleggiata, non dobbiamo buttarci sul divano con il telefono</li>
                   <li>questa dipendenza oltre a trovare amicizie, può anche rovinare la tua vita sociale, quindi va a spassarti con gli amici invece di chiuderti in casa! </li>
             </ul>

     <img src="../static/img/dipendenza da cellulare.jpg" alt="Image 1">
     <h3>Guarda il meteo cui sotto ! Se è una bella giornata, esci fuori a spassartela</h3>
     <iframe src="https://www.meteoblue.com/en/weather/widget/daily/ip_romania_675514?geoloc=fixed&days=4&tempunit=CELSIUS&windunit=KILOMETER_PER_HOUR&precipunit=MILLIMETER&coloured=coloured&pictoicon=1&maxtemperature=1&mintemperature=1&windspeed=1&windgust=0&winddirection=1&uv=0&humidity=0&precipitation=1&precipitationprobability=1&spot=1&pressure=0&layout=light&user_key=91705a89ed94a2da&embed_key=0ce1acb52ad03b67&sig=66ebd80ed14ba53f5d04afef379680fb30b9b659a2cf3e355bfce1974377312b" frameborder="0" scrolling="NO" allowtransparency="true" sandbox="allow-same-origin allow-scripts allow-popups allow-popups-to-escape-sandbox" style="width: 216px;height: 348px;border: 0;overflow: hidden;"></iframe><div><!-- DO NOT REMOVE THIS LINK --><a href="https://www.meteoblue.com/en/weather/week/index" target="_blank" rel="noopener">meteoblue</a></div>

</body>
</html>